<mat-sidenav-container class="h-[100vh]">
  <mat-sidenav #sidenav role="navigation">
    <nav>
      <a mat-button routerLink="/login" routerLinkActive="active">Login</a>
      <a mat-button routerLink="/register" routerLinkActive="active">Register</a>
      <a mat-button routerLink="/profile" routerLinkActive="active">Profile</a>
      <a mat-button routerLink="/update-profile" routerLinkActive="active">Update Profile</a>
      <a mat-button routerLink="/search" routerLinkActive="active">Search</a>
    </nav>
  </mat-sidenav>

  <mat-sidenav-content>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
