<form id="update-profile-form" [formGroup]="profileForm" (ngSubmit)="updateProfile()">
  <div>
    <label for="firstName">First Name:</label>
    <input id="firstName" formControlName="firstName">
  </div>
  
  <div>
    <label for="lastName">Last Name:</label>
    <input id="lastName" formControlName="lastName">
  </div>

  <div>
    <label for="birthDate">Birth Date:</label>
    <input id="birthDate" type="date" formControlName="birthDate">
  </div>

  <div>
    <label for="email">Email:</label>
    <input id="email" formControlName="email" [attr.disabled]="true">
  </div>

  <div>
    <label for="password">Password:</label>
    <input id="password" type="password" formControlName="password">
  </div>

  <div>
    <label for="confirmPassword">Confirm Password:</label>
    <input id="confirmPassword" type="password" formControlName="confirmPassword">
  </div>

  <button type="submit">Update</button>
</form>
